
{{#if addNewQuestion}}
  <form>
    <div class="input">
      <span class="inputs">Question:</span>
        {{input value=query id="query" class="form-group" placeholder="Enter Question"}}
    </div>
    <br>
    <div class="input">
      <span class="inputs">Asked By:</span>
        {{input value=author id="author" class="form-group" placeholder="Name"}}
    </div>
    <br>
    <div class="input">
      <span class="inputs">Notes:</span>
        {{input value=notes id="notes" class="form-group" placeholder="Notes"}}
    </div>
    <br>
    <button class="btnS" {{action 'save1'}}>Post</button>
  </form>
{{else}}
  <button class="btnS" {{action 'questionFormShow'}}>Submit Question</button>
{{/if}}
