<!-- <li class="listA">{{question.author}} asks:</li>
<li class="listQ">{{#link-to 'question-display' query.id}}{{question.query}}{{/link-to}}</li>
<hr>


<li class="listA">{{question.author}} asks:</li>
<li class="listQ">{{#link-to 'question-display' question.id}}{{question.query}}{{/link-to}}<span class="edit-form">{{question-edit question=question update="update"}}</span></li>
<hr -->


<li class="index-author">{{question.author}} asks:</li>
<li class="index-question">{{#link-to 'question-display' question.id}}{{question.query}}{{/link-to}}<span class="edit-form">{{question-edit question=question update="update"}}</span></li>
