<li class="indexA">{{question.author}} asks: {{popular question}}</li>
<li class="indexQ">{{#link-to 'question-display' question.id}}{{question.query}}{{/link-to}}<span class="edit-form">{{question-edit question=question update="update"}}</span></li>
<li class="favorite-button"><button class="btnS" {{action 'addToList' question}}>Add to Favorites</button></li>
<hr>
