<p>{{model.author}} asks:</p>
<h2>{{model.query}}</h2>
<p>{{model.notes}}</p>
<hr>
<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
    <li class="computed">Or, to put it another way: <span class="sentence">{{answer.answerSentence}}</span></li>
    <hr>
  {{/each}}
</ul>

{{answer-new save5="save6" question=model}
